* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    font-family: 'Rubik', sans-serif;
}

#divider {
    background-color: white;
    height: 0.05rem;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}


/* Navbar */

.navbar {
    position: fixed;
    background: none;
    display: flex;
    max-height: 60px;
    width: 100%;
    font-family: var(--bs-font-sans-serif);
    z-index: 10;
}

.sub-container ul {
    display: flex;
    align-items: center;
}

.sub-container ul li {
    margin: 10px;
    padding: 0 10px;
    list-style: none;
}

.sub-container ul li a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
}

#left-sub-container {
    width: 80%;
    left: 20px;
}

#right-sub-container {
    width: 20%;
    float: right;
}


/* Home Page */

#home {
    /* background-image: url(/BG-1.jpg); */
    height: 560px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
}

.head {
    margin: 0 45px;
    padding: 10px 25px;
}

.heading {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: white;
}

.heading2 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: white;
}

.content {
    padding: 100px 170px;
}

.loginButton {
    display: flex;
    padding: 0 40px;
}

.loginButton button {
    border-radius: 10px;
    margin: 0 20%;
    background: #eee;
}

.loginButton button a {
    color: black;
    text-decoration: none;
}

.loginButton button:hover,
.sub-container ul li a:hover {
    text-decoration: underline;
    background-color: grey;
    color: white;
}


/* About - Post Page */

#about {
    display: none;
    width: 100%;
    height: 100%;
    margin: 2rem 0;
}

.row {
    padding: 0 6rem;
    margin: 4rem 0;
}

.col {
    display: flex;
    justify-content: center;
}

.card>img {
    margin: 5px auto;
    justify-content: center;
    height: 50px;
    width: 50px;
}


/* login-Sign Up Page */

.main {
    width: 350px;
    height: 500px;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin: 15px auto;
}

#chk {
    display: none;
}

.signup {
    position: relative;
    width: 100%;
    height: 90%;
}

label {
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input {
    width: 60%;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 4px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #573b8a;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;
}

button:hover {
    background: #6d44b8;
}

.login {
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login label {
    color: #573b8a;
    transform: scale(.6);
}

#chk:checked~.login {
    transform: translateY(-500px);
}

#chk:checked~.login label {
    transform: scale(1);
}

#chk:checked~.signup label {
    transform: scale(.6);
}


/* Contact */

#contact {
    color: white;
    margin: 8rem 0;
}

#contact h1 {
    text-align: center;
}

.con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.con-left {
    margin: 30px auto;
    text-align: center;
    width: 70%;
}

table {
    margin: 30px auto;
    text-align: justify;
}

.con-right {
    width: 30%;
}

.con-right img {
    border: 2px solid whitesmoke;
    height: 14rem;
    width: 14rem;
    border-radius: 150px;
    border-style: dashed;
}


/* footer */

#footer {
    margin-bottom: 1rem;
}

#copyright {
    text-align: center;
    color: #fff;
}

#foot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

#foot li {
    list-style: none;
    margin: 1rem 2rem;
}

#foot li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
}

#foot li a:hover {
    color: #0f0c29;
}


/* Add Post  */

#add-post {
    margin: 6rem 0;
}

#add-post .main {
    width: 50%;
    margin: 3rem auto;
    padding: 2rem 3rem;
}

#add-post-form {
    margin: 0.75rem auto;
}

@media screen and (max-width: 600px) {
    /* Navigation */
    .sub-container {
        display: block;
    }
    #left-sub-container {
        width: 10%;
        float: left;
    }
    #right-sub-container {
        width: 10%;
        float: left;
    }
    /* Home */
    /* About */
    /* Contact */
    /* Login-Signup */
}